@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-dark: #22234D;
    --clr-light-accent: #bacfe2;
    --clr-light: #eee;
    --clr-bg-logo: #e7ecf0;
    --clr-mid: #455679;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* position: relative; */
    background-color: var(--clr-light);
    color: var(--clr-mid);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-top: 100px;
}

h1, h2, h3 {
    font-weight: 600;
}

h1{
    font-size: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-mid);
    color: var(--clr-light);
    box-shadow: 0 5px 15px rgba(50, 50, 50, 0.2);
}

.class-logo{
    font-weight: 800;
    color: var(--clr-light);
    letter-spacing: -2px;
    font-size: 1.5rem;
}

#ham-menu{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--clr-light);
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;

    span{
        width: 75%;
        height: 4px;
        background-color: var(--clr-light);
        border-radius: 2px;
    }
}

#ham-menu:hover{
    gap: 7px;
}
main{
    padding: 2rem;
    position: relative;
}

.background-logo{
    position: absolute;
    z-index: -100;
    width: 90%;
    height: 98vh;
    left: 10%;
    top: 0;
    font-size:40em;
    font-weight: 800;
    letter-spacing: -8rem;
    line-height: 35rem;
    color: var(--clr-bg-logo);
    display: flex;
    align-items: center;
}
footer{
    position: fixed;
    bottom: 0;
    min-height: 50px;
    width: 100%;
    background-color: var(--clr-mid);
    color: var(--clr-light);
    padding: 1rem;
}
